{% extends "base/Device.template" %}
{% block device %}
"id": "urn:ngsi-ld:Compressor:{{id_0_id_string_req}}",
"type": "Compressor",
"subCategory":{
"type": "Property",
"value": "BuildingRelated-FlowDevice-FlowMovingDevice"
},
{% if ReadableName_1_ReadableName_string_opt %}
"readableName": {
"type": "Property",
"value": "{{ReadableName_1_ReadableName_string_opt}}"
},
{% endif %}
{% if LoggingInterval_2_LoggingInterval_string_opt %}
"loggingInterval": {"type": "Property",
"value": "{{LoggingInterval_2_LoggingInterval_string_opt}}"
},
{% endif %}
{% endblock %}

{% block context %}
{% endblock %}